<link rel="stylesheet" href="/css/footer.css">
<footer class="pt-4 my-md-5 pt-md-5 border-top bottom-color ">
    <div class="row center-controll">
        <div class="container-footer">
            <h5>Gymmy</h5>
            <ul class="list-unstyled text-small">
                <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" href="/news">最新消息</a></li> -->
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/products">會員方案</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/classes">本月課程</a></li>
            </ul>
        </div>
        <div class="container-footer">
            <h5>管理</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/backside-login">後台登入</a></li>

            </ul>
        </div>
        <div class="container-footer">
            <h5>關於</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">gymmy004@gmail.com</a></li>
                <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">github</a></li> -->
            </ul>
        </div>
    </div>
    <div class="col-12 col-md d-flex justify-content-center">
        <div class="d-block mb-3 text-muted">Chi &copy; 2021</div>
    </div>
</footer>