<!-- 小螢幕 -->
<div class="burger-overlay">
    <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
    <div class="overlay-content">
        <div style="width:100%;height:50px;border-bottom: 1px solid #e9e9e9;"></div>
        <div class="menu-format"><a href="">最新消息</a></div>
        <div class="menu-format"><a href="/classes">本月課程</a></div>
        <div class="menu-format"><a href="/products">會員方案</a></div>
        <div class="menu-format"><a href="">登入/註冊</a></div>
    </div>
</div>
<!-- 大 -->
<header>
    <div class="icon-bar"></div>
    <div class="flexbox-big">
        <div class="navbar-c">
            <div class="head-c">
                <div class="title"><a href="/">Gymmy</a></div>
            </div>
            <div class="blank"></div>
            <div class="items-format">
                <ul class="items-c">
                    <li>最新消息</li>
                    <li><a href="/classes">本月課程</a></li>
                    <li><a href="/products">會員方案</a></li>
                    <li>登入/註冊</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 小螢幕 -->
    <div class="flexbox-small">
        <div class="head-small">
            <div class="smalltitle"><a href="/">Gymmy</a></div>
            <!-- <div class="blank"></div> -->
            <div class="icon-block" id="openbtn">
                <div class="burger-icon">&#9776;</div>
            </div>
        </div>
    </div>
</header>
<script src="/js/base.js"></script>