.overlay-login {
    position:fixed;
    width:100%;
    height:100%;
    top:0; bottom:0;
    left:0; right:0;
    z-index:100;
    display:none;
    background-color: rgba(0,0,0,0.5);
}
.login-page-block1 {
    display:flex;
    width:100%;height:350px;
    justify-content:center;
    position:absolute;top:80px;
    
}
.login-page-block {
    display:block;
    width:340px;height:100%;
    background: #EA7500;
    border-radius:5px;
    position: relative;
}

.login-page {
    position:absolute;
    margin-top:10px;
    width:340px;height:100%;
    background-color: #fff;
    border-radius:0 0 5px 5px;
}

.login-title {
    font-size:24px;
    font-weight: bold;
    width:310px;height:27px;
    margin: 15px 15px 10px;
    text-align: center;
}

.input-format {
    width:310px;
    height:47px;
    padding:0px;
    margin: 4px 15px 4px;
    border:1px solid #CCCCCC;
    border-radius:5px;
    outline:medium;
}

#login-close-btn {display:none;}
#close-btn-for-img-login {
    position:absolute;
    top:17px;
    right:17px;
    cursor: pointer;
}


::placeholder {
    padding:15px;
    font-size: 16px;
}


.login-btn {
    width:310px;
    height:47px;
    background-color: #FFA042;
    color: #fff;
    margin:4px 15px 10px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;left:0;
    font-size:19px;
}
.login-btn:hover {
    background-color: #EA7500;
}
.login-msg {
    width:310px;
    margin: 5px 15px 10px;
    position:absolute;bottom:30px;
    text-align: center;
    color: red;
}
.login-state {
    width:310px;
    margin: 5px 15px 0;
    position:absolute;bottom:15px;
    text-align: center;
}


.overlay-statement {
    position:fixed;
    width:100%;
    height:100%;
    top:0; bottom:0;
    left:0; right:0;
    z-index:100;
    display:none;
    background-color: rgba(0,0,0,0.5);
}

.statement-block1 {
    display:flex;
    width:100%;height:200px;
    justify-content:center;
    position:absolute;top:80px;
    
}
.statement-block {
    display:block;
    width:340px;height:100%;
    background: #EA7500;
    border-radius:5px;
    position: relative;
}

.statement-page {
    position:absolute;
    margin-top:10px;
    width:340px;height:95%;
    background-color: #fff;
    border-radius:5px;
}
.statement-msg{
    padding:20px;
    text-align: center;
}
.close-btn{
    padding: 0 10px;
    text-align: end;
}
.close{
    width:100px;
}
#close-btn-for-img-statement {
    position:absolute;
    top:17px;
    right:17px;
    cursor: pointer;
}

#my-signin2 {
    position: absolute;
    bottom: 60px;
    right:15px;
}

/* 客服視窗 */
.customer-service-box{
    position:fixed;
    width:100%;
    height:100%;
    top:0; bottom:0;
    left:0; right:0;
    z-index:100;
    display:none;
}

.customer-block1 {
    display:flex;
    width:100%;
    /* height:200px; */
    justify-content:flex-end;
    position:absolute;top:80px;
    
}
.customer-block {
    display:block;
    width:340px;height:100%;
    /* margin: 20px; */
    background: #ffffff;
    border-radius:5px;
    position: relative;
}

.customer-msg{
    padding:20px;
    text-align: center;
}

.send-btn{
    margin-bottom: 20px;
    text-align: center;
}

.send{
    width:100%; 
}

.form-format{
    margin: 10px;
}

.input-box {
    margin-bottom: 10px;
}

.customer-input-format {
    width:100%;
    height:40px;
    padding:10px;
    border:1px solid #CCCCCC;
    border-radius:5px;
    outline:medium;
}
.customer-textarea{
    width:100%;
    height: 120px;
    padding:10px;
    border:1px solid #CCCCCC;
    border-radius:5px;
    outline:medium;
}

#close-btn-for-img-customer {
    position:absolute;
    top:17px;
    right:17px;
    cursor: pointer;
}