<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> 
    <link rel="stylesheet" href="/css/backside-login.css">
    <title>Gymmy-後台管理登入</title>
</head>

<body class="text-center">
    <main class="form-signin">
        <form id="login-form">
            <div class="title"><a href="/">Gymmy</a></div>
            <h1 class="h3 mb-3 fw-normal">後台管理登入</h1>

            <div class="form-floating mb-1">
                <input type="email" class="form-control" id="email" value="admin@admin" required>
                <label for="email">電子郵件</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="pwd" value="123" required>
                <label for="pwd">密碼</label>
            </div>

            <div class="checkbox mb-3"></div>
            <button class="w-100 btn btn-lg btn-hover" type="submit">登入</button>
            <p class="mt-3 error-msg"></p>
            <p class="mt-5 mb-3 text-muted">Chi &copy; 2021</p>
        </form>
    </main>
    <!-- <main>
        <form>
            <div class="title">Gymmy</div>
            <div>後台管理登入</div>
        </form>
    </main> -->
</body>
<script src="/js/backside-login.js"></script>
</html>