<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" /> <!-- favicon.ico問題 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/backside.css">
  <title>Gymmy-後台管理</title>
</head>

<body>
  <div class="overlay-statement">
    <div class="statement-block1">
      <div class="statement-block">
        <div class="statement-page">
          <label for="state-close-btn">
            <img id="close-btn-for-img-statement" src="/png/icon/icon_close.png">
          </label>
          <input type="button" name="close" id="state-close-btn">
          <div class="title-block-state">
            <div class="num">#</div>
            <div class="username">學員名稱</div>
            <div class="email">電子信箱</div>
          </div>
          <!-- <div class="member">
            <input type="checkbox">
            <div class="num">1</div>
            <div class="username">111</div>
            <div class="email">111@111</div>
          </div> -->
          
          <div class="check-btn">
            <button id="check-btn" class="btn btn-hover">確定</button>
            <div class="add-msg"></div>
            <!-- 每堂課程最多15人 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bar -->
  <div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light custom">
      <div href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">後台管理系統</span>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/" class="nav-link link-dark hover" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            前台首頁
          </a>
        </li>
        <li>
          <a href="/backside" class="nav-link link-dark hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2" />
            </svg>
            預定管理
          </a>
        </li>
        <!-- <li>
          <a href="/backside-post" class="nav-link link-dark hover">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2" />
            </svg>
            新增文章
          </a>
        </li> -->
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="png/icon/user.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Admin</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item hover" href="/member/admin">會員中心</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item hover" href="#" onclick="logout();">登出</a></li>
        </ul>
      </div>
    </div>
    <!-- 內容 -->
    <div class="booking-block">
      <div class="layout-block p-4">
        <select id="select_day" onchange="selectDay();" class="form-select" multiple
          aria-label="multiple select example">
          <option selected>請選擇日期</option>
          <option value="1">週一</option>
          <option value="2">週二</option>
          <option value="3">週三</option>
          <option value="4">週四</option>
          <option value="5">週五</option>
          <option value="6">週六</option>
          <option value="7">週日</option>
        </select>
        <select class="form-select" id="select_class" onchange="selectClass();" multiple
          aria-label="multiple select example">
          <option selected>請選擇課程</option>
        </select>
        <div class="submit-div">
          <button class="w-100 btn class-btn">查詢</button>
        </div>
      </div>


      <!-- member block -->
      <div class="member-block">

        <h2 class="class-title"></h2>
        <!-- 課程：強力瑜珈 -->
        <div class="member-box">
          <div class="title-block">
            <div class="num">#</div>
            <div class="username">學員名稱</div>
            <div class="email">電子信箱</div>
          </div>

          <!-- <div class="member">
            <input type="checkbox">
            <div class="num">1</div>
            <div class="username">111</div>
            <div class="email">111@111</div>
          </div>
          <div class="member">
            <input type="checkbox">
            <div class="num">2</div>
            <div class="username">123</div>
            <div class="email">123@123</div>
          </div>
          <div class="member">
            <input type="checkbox">
            <div class="num">3</div>
            <div class="username">222</div>
            <div class="email">222@222</div>
          </div> -->
        </div>
      </div>
      <div class="update-btn-block">
        <button id="add-btn" type="button" class="btn btn-secondary">新增</button>
        <button id="delete-btn" type="button" class="btn btn-secondary">刪除</button>
      </div>
    </div>

  </div>


</body>
<script src="/js/backside.js"></script>

</html>