<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#"/>      <!-- favicon.ico問題 -->
    <!-- Bootstrap core CSS -->
    {% include "bootstrap.html" %}
    <link rel="stylesheet" href="/css/base.css">
    {% block csslink %}
    {% endblock %}
    <title>Gymmy Club</title>
</head>
<body>
    <!-- 小螢幕 -->
    <div class="burger-overlay">
        <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
        <div class="overlay-content">
            <div style="width:100%;height:50px;border-bottom: 1px solid #e9e9e9;"></div>
            <div class="menu-format"><a href="">最新消息</a></div>
            <div class="menu-format"><a href="">本月課程</a></div>
            <div class="menu-format"><a href="/products">會員方案</a></div>
            <div class="menu-format"><a href="">登入/註冊</a></div>
        </div>
    </div>
    <header>
        <div class="icon-bar"></div>
        <div class="flexbox-big">
            <div class="navbar-c">
                <div class="head-c">
                    <div class="title"><a href="/">Gymmy</a></div>
                </div>
                <div class="blank"></div>
                <div class="items-format">
                    <ul class="items-c">
                        <li>最新消息</li>
                        <li>本月課程</li>
                        <li><a href="/products">會員方案</a></li>
                        <li>登入/註冊</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flexbox-small">
            <div class="head-small">
                <div class="smalltitle"><a href="/">Gymmy</a></div>
                <!-- <div class="blank"></div> -->
                <div class="icon-block" id="openbtn">
                    <div class="burger-icon">&#9776;</div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="/js/base.js"></script>
</body>
<footer class="pt-4 my-md-5 pt-md-5 border-top bottom-color">
    <div class="row">
      <div class="col-12 col-md">
        <div class="d-block mb-3 text-muted">Chi &copy; 2021</div>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</html>