<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/classes.css">

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="head-title">
                <h1 class="display-4 fw-normal">本月課表</h1>
            </div>
            <div class="container week">
                <div class="row">
                    <div class="col">星期一</div>
                    <div class="col">星期二</div>
                    <div class="col">星期三</div>
                    <div class="col">星期四</div>
                    <div class="col">星期五</div>
                    <div class="col">星期六</div>
                    <div class="col">星期日</div>
                </div>
            </div>
            <div class=""></div>
            <div class="container">
                <div class="row">
                    <div class="col me-2">
                        <div class="class-format">
                            課程一
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="class-format">
                            課程2
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="class-format">
                            課程3
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="class-format">
                            課程4
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="class-format">
                            課程5
                        </div>
                    </div>
                    <div class="col me-2">
                        <div class="class-format">
                            課程6
                        </div>
                    </div>
                    <div class="col">
                        <div class="class-format">
                            課程7
                        </div>
                    </div>
                </div>
            </div>

    </body>
    <%- include('./partials/footer.ejs') %>