<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/class.css">

    <body>
        <!-- loading circle -->
        <div class="loading-box">
            <div class="loading-space">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <%- include('./partials/navbar.ejs') %>
            <h1 class="title-name"></h1>
            <div class="block">
                <div class="desc-block">
                    <div class="desc-box">
                    </div>
                </div>
            </div>
            <div class="class-img-block">
            </div>
            <div class="class-booking">
                <!-- <button id="booking-btn" class="btn btn-lg btn-hover" type="submit">預定課程</button> -->
            </div>
            

    </body>
    <script src="/js/class.js"></script>
    <%- include('./partials/footer.ejs') %>