<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/classes.css">

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="head-title">
                <h1 class="display-4 fw-normal">本月課表</h1>
            </div>
            <div class="container week" id="big">
                <div class="row">
                    <div class="col">星期一</div>
                    <div class="col">星期二</div>
                    <div class="col">星期三</div>
                    <div class="col">星期四</div>
                    <div class="col">星期五</div>
                    <div class="col">星期六</div>
                    <div class="col">星期日</div>
                </div>
            </div>
            <div class="container week" id="small">
                <div class="row">
                    <div class="col"><a href="#week1">Mon</a></div>
                    <div class="col"><a href="#week2">Tue</a></div>
                    <div class="col">Wed</div>
                    <div class="col">Thu</div>
                    <div class="col">Fri</div>
                    <div class="col">Sat</div>
                    <div class="col">Sun</div>
                </div>
            </div>
            <div class="p-0 container class-plan" id="class-plan-big">
                <div class="column">
                    <div class=" class-block">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程1</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class=" class-block">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程2</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程1</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程1</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程1</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
                <div class="column">
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                    <div class=" class-block">123</div>
                </div>
            </div>

            <!-- <div class="container" id="class-plan-big">
                <div class="row flex-lg-column">
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程1</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程2</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程3</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程4</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程5</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程6</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>
                    <div class="col me-1 class-format">
                        <div class="time">0920-1020</div>
                        <div class="title-zh">課程7</div>
                        <div class="title-en">class1</div>
                        <div class="teacher">mimi lin</div>
                        <div class="class-room">團體有氧教室</div>
                    </div>

                </div>

            </div> -->
            <div class="container" id="class-plan-small">
                <div class="row">
                    <div class="col-6">
                        <div class="col-sm-12 class-format" id="week1">
                            <div class="time">0920-1020</div>
                            <div class="title-zh">課程1</div>
                            <div class="title-en">class1</div>
                            <div class="teacher">mimi lin</div>
                            <div class="class-room">團體有氧教室</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format">課程2</div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format">課程3</div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format">課程4</div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format">課程5</div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format">課程6</div>
                    </div>
                    <div class="col-6">
                        <div class="col-sm-12 class-format" id="week2">課程7</div>
                    </div>

                </div>
            </div>


    </body>
    <%- include('./partials/footer.ejs') %>