<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/class.css">
    <body>
        <%- include('./partials/navbar.ejs') %>
        <h1 class="title-name"></h1>
        <div class="block">
            <div class="desc-block">
                <div class="desc-box">
                </div>
            </div>
        </div>
        <div class="class-img-block">
        </div>
        <div class="class-booking">
            <button class="btn btn-lg btn-hover" disabled="disabled" type="submit">預定課程</button>
        </div>

    </body>
    <script src="/js/class.js"></script>
    <%- include('./partials/footer.ejs') %>