<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<body>
    <%- include('./partials/navbar.ejs') %>
    <nav>
        <div class="container-mov">
            <div class="banner-c">
                <video src="/mp4/workout.mp4" loop="loop" autoplay="autoplay" muted="muted"></video>
            </div>
        </div>
    </nav>
    <main>
        <div class="word-format">
            <div class="word-introduction">
                <div class="about-us">
                    <h2>有氧課程</h2>
                    <p>
                        Gymmy Club有氧課程是全台最豐富的，每月都有好幾千堂的有氧團體課程，包含最熱門的飛輪、舞蹈、瑜珈、LESMILLS、MOSSA與獨家系列，有氧老師師資也非常充足與專業，滿足您隨時想上課的需求。
                    </p>
                </div>
            </div>
        </div>
        <div class="word-format">
            <div class="word-introduction">
                <div class="about-us">
                    <h2>私人教練</h2>
                    <p>
                        Gymmy
                        Club私人健身教練能讓您事半功倍，用最少的時間達成您心目中的體態，讓每次的努力不會白費，除此之外還有許多好處，像是提高動力、增加安全性、訓練個人化、訓練精緻化、飲食建議、伸展放鬆、定期INBODY體質測量。
                    </p>
                </div>
            </div>
        </div>
    
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center margin-format">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">入門方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">NT$888<small class="text-muted fw-light">/月</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>運動時間週一至週五</li>
                            <li>運動時段7:00-16:00</li>
                            <li>體驗私人教練一堂</li>
                            <li>團體課程22堂/月</li>
                        </ul>
                        <button id="888-btn" type="button" class="w-100 btn btn-lg btn-outline-primary">開始使用</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">專業方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">NT$1000<small class="text-muted fw-light">/月</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>全天候任意使用</li>
                            <li>運動時段無限制</li>
                            <li>體驗私人教練一堂</li>
                            <li>團體課程吃到飽</li>
                        </ul>
                        <button id="1000-btn" type="button" class="w-100 btn btn-lg btn-outline-primary">開始使用</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 ">
                        <h4 class="my-0 fw-normal">企業方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">諮詢報價<small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>享有專業方案服務</li>
                            <li>健康飲食規劃</li>
                            <li>企業團報優惠</li>
                            <li>聯繫專員取得更多內容</li>
                        </ul>
                        <button id="contact" type="button" class="w-100 btn btn-lg btn-outline-primary">聯絡專員</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="views-cover">
        <div>
            <a href="/classes"><button class="w-100 btn btn-lg class-btn">查看本月課表</button></a>
        </div>
    </section>
    <!-- <section class="news-announce">
        <div class="col-md card mx-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="/png/workout3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">消息抬頭</h5>
                <p class="card-text">之後這邊要顯示消息的一些內容(接過來)，然後限制顯示幾個字....(四行)...才會卡片高度一致= =?</p>
                <a href="#" class="btn btn-primary">Learn more</a>
            </div>
        </div>
        <div class="col-md card mx-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="/png/workout3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Learn more</a>
            </div>
        </div>
        <div class="col-md card mx-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="/png/workout3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </section> -->
</body>
<script src="/js/index.js"></script>
<%- include('./partials/footer.ejs') %>
