<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<body>
    <%- include('./partials/navbar.ejs') %>
    <nav>
        <div class="container-mov">
            <div class="banner-c">
                <video src="/mp4/workout.mp4" loop="loop" autoplay="autoplay" muted="muted"></video>
                <div class="btn-format">
                    <a href="/classes"><button class="w-100 btn btn-lg class-btn">查看本月課表</button></a>
                </div>
            </div>
        </div>

    </nav>
    <main>
        <div class="word-format">
            <div class="word-introduction">
                <div class="about-us">
                    <h2>有氧課程</h2>
                    <p>
                        Gymmy Club有氧課程是全台最豐富的，每月都有好幾千堂的有氧團體課程，包含最熱門的飛輪、舞蹈、瑜珈、LESMILLS、MOSSA與獨家系列，有氧老師師資也非常充足與專業，滿足您隨時想上課的需求。
                    </p>
                </div>
            </div>
        </div>
        <div class="word-format">
            <div class="word-introduction">
                <div class="about-us">
                    <h2>私人教練</h2>
                    <p>
                        Gymmy
                        Club私人健身教練能讓您事半功倍，用最少的時間達成您心目中的體態，讓每次的努力不會白費，除此之外還有許多好處，像是提高動力、增加安全性、訓練個人化、訓練精緻化、飲食建議、伸展放鬆、定期INBODY體質測量。
                    </p>
                </div>
            </div>
        </div>
    
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center margin-format">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">入門方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">NT$888<small class="text-muted fw-light">/月</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>運動時間週一至週五</li>
                            <li>體驗私人教練一堂</li>
                            <li>團體課程22堂/月</li>
                        </ul>
                        <button id="888-btn" type="button" class="w-100 btn btn-lg btn-outline-primary">開始使用</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">專業方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">NT$1000<small class="text-muted fw-light">/月</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>運動時段無限制</li>
                            <li>體驗私人教練一堂</li>
                            <li>團體課程吃到飽</li>
                        </ul>
                        <button id="1000-btn" type="button" class="w-100 btn btn-lg btn-outline-primary">開始使用</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 ">
                        <h4 class="my-0 fw-normal">企業方案</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">諮詢報價<small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>健康飲食規劃</li>
                            <li>企業團報優惠</li>
                            <li>聯繫專員取得更多內容</li>
                        </ul>
                        <button id="contact" type="button" class="w-100 btn btn-lg btn-outline-primary">聯絡專員</button>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <!-- <section class="views-cover">
        <div>
            <a href="/classes"><button class="w-100 btn btn-lg class-btn">查看本月課表</button></a>
        </div>
    </section> -->

    <!-- About section one-->
    <section class="py-5 bg-light mt-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/png/workout4.jpeg" /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">網站服務</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        註冊成為我們的會員，每月少少的費用開通您的服務，
                        享用無限的運動體驗，即刻加入會員，開始您的運動健身之旅。
                        -點擊本月課程查看喜愛的運動項目-
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/png/workout5.jpeg" /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">關於我們</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        2001年，Gymmy正式進軍台灣，並積極把現代健身中心的經營模式帶到台灣各地，期望帶給全台灣的民眾一個更健康專業的運動環境。
                        
                        2001年至2021年間，Gymmy在台快速成長，並於2010年收購加州健身在台全部6家據點，從一家成長為百家大型健身俱樂部，是全台灣最大的健身連鎖公司。</p>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/index.js"></script>
<%- include('./partials/footer.ejs') %>
