
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/news.css">
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1 class="title-name">最新消息</h1>
    <div class="block">
        <div class="middle-block">
            <div class="news-container">
                <div class="img-box"></div>
                <div class="content-box">
                    <div class="title">【直播通知】FB . YouTube . IG 三大平台同步真人互動 | World Gym直播</div>
                    <div class="simple">每天晚上19:00跟20:00⏰
                        跟著World Gym有氧老師及教練們，動起來囉
                        課表在這裡，記得準時上線練身體</div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer.ejs') %>