<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/signup.css">
    <body>
        <%- include('./partials/navbar.ejs') %>
        <h1>members</h1>

    </body>
    <script src="/js/signup.js"></script>
    <%- include('./partials/footer.ejs') %>