<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/thankyou.css">
<body>
    <%- include('./partials/navbar.ejs') %>
    <!-- <h1 class="title-name">付款成功</h1> -->
    <h1 class="title-name"></h1>
    <!-- <h3 class="trade-num">TP202107064evoF3</h3> -->
    <h3 class="trade-num"></h3>
    <div class="block-format">
        <div class="img-box">
            <!-- <img src="/png/icon/checked.png" class="img-fluid"> -->
        </div>
    </div>
</body>
 <script src="/js/thankyou.js"></script>
<%- include('./partials/footer.ejs') %>