<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/thankyou.css">
<body>
    <%- include('./partials/navbar.ejs') %>

    <h1 class="title-name">付款成功</h1>
    <div class="block-format">
        <div class="img-box">
            <img src="/png/icon/checked.png" class="img-fluid">
        </div>
    </div>
   
</body>

<%- include('./partials/footer.ejs') %>